<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of pet owners</title>
</head>
<body>
    <h1 th:text="'List of pet owners'">Owners</h1>
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${owners.empty}">
				<td colspan="2">No Owners Available</td>
			</tr>
			<tr th:each="owner : ${owners}">
				<td><span th:text="${owner.firstName}"> Owner </span></td>
				<td><span th:text="${owner.lastName}"> Owner </span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>